.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 2px black solid;
  width: 500px;
  border-radius: 3px;
  padding: 5px;
}
.FirstNameBox, .LastNameBox, .SaveBtn{
  border: solid brown 2px;
  height: 20px;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  width: 200px;
}
.lbl{
  margin: 10px;
}

.SaveBtn{
  width: 100px;
  height: 40px;
  background-color: darkgray;
  font-size: large;
}